/* google font import link  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* styles for all element (universal) */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* common styles for all elements  */
body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

.active {
  color: #ff5400;
}

/* header section  styles  */
header {
  padding-top: 50px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .brand-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav .brand-info img {
  width: 50px;
  object-fit: cover;
}

nav .brand-info .brand-name {
  color: #131318;
  font-size: 30px;
  font-weight: 800;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

header nav .menu-icon {
  display: none;
}

nav ul li a {
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

/* banner section styles  */
#banner {
  color: #fff;
  background-image: url("../images/banner-image.png");
  padding: 100px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 48px;
  border-radius: 10px;
  background-color: #131318a1;
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .banner-container {
  max-width: 800px;
  text-align: center;
}

#banner .banner-container .banner-title {
  font-size: 42.67px;
  font-weight: 800;
  margin-bottom: 24px;
}
#banner .banner-container .banner-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 42px;
}

#banner .banner-container form {
  display: flex;
  gap: 24px;
  padding: 16px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff41;
}

#banner .banner-container form .user-input {
  position: relative;
}
#banner .banner-container form .user-input input {
  padding: 16px;
  color: #13131894;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  border: 0;
  max-width: 174px;
  border-radius: 5px;
  background-color: #fff;
}
#banner .banner-container form .user-input .show-icon {
  position: absolute;
  top: 16px;
  right: 16px;
}
#banner .banner-container form .user-input .show-icon .fa-angle-down {
  color: #131318;
  font-size: 16px;
}

#banner .banner-container form .search-btn {
  color: #fff;
  border: 0;
  outline: 0;
  padding: 14px 28px;
  max-width: 174px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #ff5400;
}

#banner .banner-container form .search-btn span {
  margin-right: 8px;
}
