/* responsive styles for extra extra large devices  */
/* @media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
} */

/* responsive styles for  extra-large devices  */
/* @media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
} */

/* responsive styles for medium devices  */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  header nav ul li .none {
    display: none;
  }
}
/* responsive styles for small devices  */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }

  header nav {
    flex-direction: column;
    gap: 30px;
  }

  nav .brand-info .brand-name {
    font-size: 22px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
/* responsive styles for extra small devices  */
@media screen and (max-width: 575.98px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  header .container {
    padding-top: 25px;
  }

  header nav {
    justify-content: space-around;
  }

  nav .brand-info img {
    width: 35px;
    object-fit: cover;
  }

  nav .brand-info .brand-name {
    font-size: 20px;
  }

  header nav ul {
    display: none;
  }

  header nav .menu-icon {
    display: block;
  }

  header nav .menu-icon i {
    font-size: 22px;
  }
}
